/* For mobile devices (up to 768px width) */
body {
  background-image: url('paper_texture.jpg'), url('./menu\ background.png');
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  cursor: url('./WFABH\ Cursor.png'), auto; /* Set cursor globally */
}

@media only screen and (max-width: 768px) {
  .menu-container {
    position: relative;
    overflow: hidden;
  }
  
  .menu {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 5vw));
    grid-row-gap: 5vw;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    margin: 0 auto;
    width: 100%;
    position: absolute;
    top: -100%;
    left: 0;
    animation: slideDownMenu 2.5s forwards;
    margin-top: 88vh;
  }
  
  @keyframes slideDownMenu {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
  }
  
  .image-container {
    width: auto;
    padding-left: 5%;
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .image-container img {
    width: 50%;
    height: auto;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
  }

.menu a {
  text-align: center;
  text-decoration: none;
  color: black;
}

.menu img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.menu img:hover {
transform: scale(110%);
color: rgb(135, 118, 91);
}

  .receipt {
    width: 55%; /* Adjust the width to 90% of the viewport width */
    height: 75%;
    position: absolute;
    top: 50%; /* Position the receipt at the vertical center of the viewport */
    left: 20%; /* Position the receipt at the horizontal center of the viewport */
    background-image: url(./receipt\ w\ graphics.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 7%;
    display: flex;
    flex-direction: column;
    align-items: left;
    animation: slideDown 2.5s forwards;
    margin-top: 3vh;
    font-size: 80%
  }


@keyframes slideDown {
  from {
    top: -100%; /* Start from off-screen position */
  }
  to {
    top: 0; /* Slide down to position */
  }
}

.receipttext {
  font-size: 80%
}

#submissionBox {
  align-items: left;
  width: 80%;
  margin-top: 0%;
  padding-right: 2.5vw;
}

#nameInput {
  height: auto;
  width: 60%;
  left: 0;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
  padding-top: 2%;
  border-radius: 13px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  margin-left: -0.3vw;
  border-width: 0.4vw;
  margin-right: 0.5%;
  font-size: 70%;
}

button {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  width: 30%;
  height: auto;
  font-size: 70%;

}

p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  white-space: pre-wrap;
}

a {
  text-decoration: none;
}

a:hover {
  font-style: bolder;
  font-weight: 700;
  color: rgb(135, 118, 91);
  font-style: italic;
}

.popup {
  font-size: 5vw;
  display: none; /* Initially hide the popup */
  position: fixed;
  width: 70%; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./paper\ texture.jpg);
  background-size: cover;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 999;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  animation: slideForward 0.3s forwards; /* Apply slide forward animation */
}

@keyframes slideForward {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8); /* Start from smaller size */
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); /* Scale to original size */
  }
}

.logos img{
  width: 50%
}

.notes p{
  margin-top: 7%
}

.thanks {
  margin-top: -5%;
}

.close-btn {
  position: absolute;
  top: 2vh;
  right: 2vw;
  padding: 2%;
  width: 8vw;
  color: rgb(0, 0, 0,0.8);
  transition: transform 0.3s ease-in-out; /* Smooth transition for rotation and scaling */
}

.close-btn:hover {
  opacity: 1;
  transform: rotate(90deg) scale(1.5);
}

 ol {
  margin-top: 0%;
  list-style: circle;
  padding: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  padding-left: 10%;
}

li p{
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  line-height: 0.3;
  font-size: 100%;
}

li {
  padding-top: 0%;
  padding-bottom: 0%;
}

.number-container {
  display: flex;
  align-items: center;
  margin-bottom: 0%;
  width: 50%;
  padding-top: 2%;
  padding-right: 20%;
  transform: translateY(-5vh);
  margin-left: 40%
}

.number-container button {
  margin-left: 1%;
  margin-right: 1%;
  width: 30%;
  padding: 0%;
  background-color: rgb(0, 0, 0,0);
  border: none;
  border-radius: 15px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
}

#number {
  margin-top:1%;
  transform: translateY(-1.5vh);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  white-space: pre-wrap;
}

#datetime {
  margin-top: 60%;
  padding-top: 5%;
}
}

/* Desktop styles (769px width and above) */
.menu-container {
  position: fixed;
  overflow: hidden;
}

@media only screen and (min-width: 769px) {
  .menu {
    display: grid;
    grid-template-columns: repeat(5, 0.2fr);
    grid-template-rows: repeat(3, 0.2fr);
    grid-gap: 0px;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    margin-right: 2%;
    margin-left: 3%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 75vw;
    height: auto;
    right: 0;
    top: 0;
    z-index: 1;
    position: absolute
  }
  .receipt {
    position: fixed;
    top: 0;
    left: 0;
    width: 19vw;
    height: 100vh;
    background-image: url(./receipt\ w\ graphics.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 2.5%;
    padding-right: 1%;
    margin-left: 1%;
    margin-top: 0%;
    display: flex;
    flex-direction: column;
    align-items: left;
    animation: slideDown 2.5s forwards;
    z-index: 2;
  }
  
  @keyframes slideDown {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
  }

.image-container{
  position: relative;
  padding-left: 5%;
  display: grid;
  grid-template-rows: auto auto; /* Set grid rows for image and text */
  justify-items: center; /* Center items horizontally */
  right: 0;
}

.image-container img {
  width: 50%; /* Adjust image width */
  height: auto;
  margin-bottom: 10px; /* Adjust spacing between image and text */
}

.menu a {
  text-align: center;
  text-decoration: none;
  color: black;
}

.menu img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.menu img:hover {
transform: scale(110%);
cursor: url('./WFABH\ hand\ cursor.png'), auto; /* Set cursor globally */
color: rgb(135, 118, 91);
}


.menu p:hover {
  cursor: url('./WFABH\ hand\ cursor.png'), auto; /* Set cursor globally */
  }

#submissionBox {
  align-items: left;
  width: 100%;
  margin-top: 0%;
  padding-right: 2.5vw;
}

#nameInput {
  height: 50%;
  width: 10vw;
  left: 0;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
  padding-top: 2%;
  border-radius: 13px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  margin-left: -0.3vw;
  font-size: 0.9vw;
  border-width: 0.2vw;
  margin-right: 1.5%;
}

button {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 5%;
  padding-right: 5%;
  height: 100%;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  font-size: 0.85vw;
}

p {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  font-size: 1em;
  white-space: pre-wrap;
}

a {
  text-decoration: none;
}

a:hover {
  font-style: bolder;
  font-weight: 700;
  color: rgb(135, 118, 91);
  font-style: italic;
  cursor: url('./WFABH\ hand\ cursor.png'), auto; /* Set cursor globally */
}

.popup {
  display: none; /* Initially hide the popup */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(./paper\ texture.jpg);
  background-size: cover;
  padding: 20px;
  border: 1px solid #ccc;
  z-index: 2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  animation: slideForward 0.3s forwards; /* Apply slide forward animation */
  font-size: 1.5vw;
}

@keyframes slideForward {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.8); /* Start from smaller size */
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); /* Scale to original size */
  }
}
.close-btn {
  position: absolute;
  top: 2vh;
  right: 0;
  cursor: url('./WFABH\ hand\ cursor.png'), auto; /* Set cursor globally */
  padding: 2%;
  width: 2.5vw;
  color: rgb(0, 0, 0,0.8);
  transition: transform 0.3s ease-in-out; /* Smooth transition for rotation and scaling */
}

.close-btn:hover {
  opacity: 1;
  transform: rotate(90deg) scale(1.5);
}

 ol {
  margin-top: 0%;
  list-style: circle;
  padding-left: 5%;
  padding-bottom: 0%;
  margin-bottom: 0%;
}

li p{
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  line-height: 0.4;
  font-size: 80%;
}

li {
  padding-top: 0%;
  width: 100%;
  padding-bottom: 0%;
  margin-left: 8%;
}

.number-container {
  display: flex;
  align-items: left;
  margin-bottom: 0%;
  padding-bottom: 0%;
  margin-left: 50%; 
  margin-right: 10%; 
  margin-top: 5%;
  width: 30%;
  transform: translateY(-5vh)
}


.number-container button {
  margin-left: 2%;
  margin-right: 2%;
  margin-top:0%;
  margin-bottom: 0%;
  width: 3vw;
  padding: 0%;
  height: 1vh;
  background-color: rgb(0, 0, 0,0);
  border: none;
  border-radius: 15px;
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  cursor: url('./WFABH\ hand\ cursor.png'), auto; /* Set cursor globally */
}

#number {
  margin-right: 2%;
  transform: translateY(1.5vh);
  font-family: "IBM Plex Mono", monospace;
  font-weight: 600;
  white-space: pre-wrap;
}

#datetime {
  margin-top: 73%;
  width: 100%;
  padding-top: 6%;
  margin-left: 0%;
  padding-left: 0%;
  align-content: center;
  text-align: center;
}

.logos img{
    width: 30%
  }

  .notes p{
    margin-top: -1%
  }
}
